@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #dashboard,
  #hero-section {
    margin: auto;
    max-width: 90%;
  }
  #pixel-img {
    width: 40%;
  }
  #title h2 {
    font-size: larger;
    font-weight: bold;
  }
  #tickets-form,
  #form-fields {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-items: center;
    align-items: center;
  }
  #form-title {
    width: 90%;
    font-size: larger;
    padding: 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  #dashboard,
  #hero-section {
    margin: auto;
    max-width: 90%;
  }
  #tickets-form,
  #form-fields {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-items: center;
    align-items: center;
  }
  #form-title {
    width: 90%;
    font-size: larger;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #dashboard {
    margin: auto;
    max-width: 90%;
  }
}

/* Tablets in landscape orientation */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #dashboard {
    margin: auto;
    max-width: 90%;
  }
}

/* Larger tablets and desktops */
@media only screen and (min-width: 1025px) {
  #dashboard {
    margin: auto;
    max-width: 90%;
  }

}
